<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Form</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<h2 style="text-align: center;">Enter Employee Details</h2>
<form th:action="@{/save}" method="post" th:object="${employee}">
    Name: <input type="text" th:field="*{name}" /><br/>
    Father's Name: <input type="text" th:field="*{fname}" /><br/>
    Date Of Birth: <input type="text" th:field="*{dob}" /><br/>
    Address: <input type="text" th:field="*{address}" /><br/>
    City: <input type="text" th:field="*{city}" /><br/>
    Nationality: <input type="text" th:field="*{nationality}" /><br/>
    Mobile: <input type="text" th:field="*{mobile}" /><br/>
    Email: <input type="email" th:field="*{email}" /><br/>
    <button type="submit" style="margin-right: 10px;">Submit</button>
    <button type="reset" style="background-color: red; color : white;">Reset</button>
</form>
</body>
</html>
